<h1>Interactions</h1>
<ul>
  <% @interactions.each do |interaction| %>
    <li>
      <a href="/interactions/<%= interaction.id %>"><%= interaction.short_description %></a>
    </li>
  <% end %>
</ul>
