<h1>Interactions</h1>
<ul>
  <% @interactions.each do |interaction| %>
    <li>
      <a href="/interactions/<%= interaction.id %>"><%= interaction.short_description %></a>
    </li>
  <% end %>
</ul>
<% if user_rights? %>
  <form id="new_interaction" name="new_interaction" method="get" action="/interactions/new">
      <input type="submit" value="New Interaction">
  </form>
<% end %>
