<!doctype html>
<html lang="en-US">
  <head>
    <title>NPC Tracker</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <h1></h1>
      <div class="topnav">
        <a href="/">Home</a>
        <a href="/pcs">PCs</a>
        <a href="/npcs">NPCs</a>
        <a href="/interactions">Interactions</a>
        <% if admin_rights? %>
          <a href="/users">Users</a>
        <% end %>
      </div>
       <!-- <%== yield_content :header_links %> -->
      </div>
    </header>

    <% if session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <% if session[:success] %>
      <div class="flash success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
