<h1>Login</h1>
<form method="post" action="/login">
  <label for="username">Username: </label>
  <input id="username" name="username" type="text"><br>
  <label for="password">Password: </label>
  <input id="password" name="password" type="password"><br>
  <input type="submit" value="Login">
</form>
<form method="get" action="/new_user">
  <input type="submit" value="New User">
</form>