<h1>NPCs</h1>
<ul>
  <% @npcs.each do |npc| %>
    <li>
      <a href="/npcs/<%= npc.id %>" ><%= npc.name %></a>
    </li>
  <% end %>
</ul>
<% if user_rights? %>
  <form id="new_npc" name="new_npc" method="get" action="/npcs/new">
      <input type="submit" value="New NPC">
  </form>
<% end %>
