<h1>PCs</h1>
<ul>
  <% @pcs.each do |pc| %>
    <li>
      <a href="/pcs/<%= pc.id %>" ><%= pc.name %></a>
    </li>
  <% end %>
</ul>
<form id="new_pc" name="new_pc" method="get" action="/pcs/new">
  <input type="submit" value="New PC">
</form>